@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    background: url(/public/images/background.webp) no-repeat center center fixed;
    background-size: 100% 100%;
    /* display: block; */
    width: 100vw;
    height: 100%;
}

.image-container img {
    max-width: 100px;
    max-height: 100px;
    height: calc(10vh + 10vw - 2vmax);
    width: calc(10vh + 10vw - 2vmax);
    /* margin-top:10rem ; */
    text-align: center;
    border-radius: 50%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondary-container {
    padding-top: 5rem;
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.name-heading {
    margin-top: 16px;
    font-size: calc(2vw + 2vh - 1vmin);
    /* -webkit-text-size-adjust: none; */
    /* text-size-adjust: 100%; */
    font-weight: 400;
    color: #CEEDFF;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
}

.icon-inner-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    margin: 1rem 5px 1rem 5px;
    align-items: center;
}

.icon-link {
    font-size: calc(3vw + 3vh - 2vmin);
    color: #CEEDFF;
}

@media (max-width:150px) {
    .icon-container {
        flex-direction: column;
    }
}


/* Badges CSS */

.badges-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.badge-inner-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    margin: 1rem 5px 1rem 5px;
    align-items: center;
    border-radius: 30px;
    /* border: 1px solid red; */
}

.badge-link {
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: 60px;
    align-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}

.badge-image {
    width: calc(3vh + 3vw);
    height: calc(3vh + 3vw );
    font-size: calc(3vh + 3vw);
}

.badge-heading {
    font-size: calc(2vw + 2vh - 1vmax);
    text-align: center;
    color: #CEEDFF;
    width: 100%;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.badges {
    text-align: center;
    display: flex;
    height: fit-content;
    width: 65vw;
    min-width: 200px;
    border: 0px solid #FFFFFF;
    background-color: rgba(196, 196, 196, 0.01);
    border-radius: 30px;
    /* opacity: 0.5; */
    box-shadow: inset 0px 17.7895px 25.5438px -16.421px rgb(255 255 255 / 50%), inset 0px -5.92982px 4.10526px -6.38596px rgb(255 255 255 / 75%), inset 0px 3.19298px 5.01754px -1.82456px #ffffff, inset 0px -37.4035px 31.0175px -29.193px rgb(96 68 145 / 30%), inset 0px 44.7017px 45.614px -21.8947px rgb(202 172 255 / 30%), inset 0px 1.82456px 8.21052px rgb(154 146 210 / 30%), inset 0px 0.45614px 18.2456px rgb(227 222 255 / 20%);
    backdrop-filter: blur(45.614px);
 
}
@media(max-width:220px){
    .badge-link{
        flex-direction: column;
    }
    
}